<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Base</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <header>
        这是页面的头部   
    </header>
    <nav>
        <a href="">home</a>
        <a href="">article</a>
        <a href="">about</a>
    </nav>
    <aside>
        这是页面的侧边栏
    </aside>
    <article>
        <h1>文章标题</h1>
        <time>2018</time>
        <p>文章内容2333</p>
    </article>
    <footer>
        <a>you said this is footer</a>
    </footer>
</body>
</html>