################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

# 配置文件
/.vs/*
/.vscode/*

# 应用程序
*.out
*.exe
*.o