################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

# 配置文件
/.vs/*
/.vscode/*
/python/.idea/*

# 二进制程序
*.o
*.pyc

# 应用程序
*.out
*.exe
