{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Video{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hi,
        {% if current_user.is_authenticated %}
        {{current_user.username}}
        {% else %}
        Stranger
        {% endif %}
        !</h1>
        {% if not known %}
        <p>Pleased to meet you!</p>
        {% else %}
        <p>Happy to see you again!</p>
        {% endif %}
</div>
<div class="col-md-4">
{{ wtf.quick_form(form) }}
</div>
{% endblock %}
