{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="col-md-4">
  <div class="page-header">
      <h1>Hello,{{current_user.username}}!</h1>
  </div>
    {{ wtf.quick_form(form) }}
</div>
    <h2 class="sub-header">Camrea List</h2>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>#id</th>
                  <th>Name</th>
                  <th>IP</th>
                  <th>Port</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1,001</td>
                  <td>bedroom</td>
                  <td>192.168.31.221</td>
                  <td>10244</td>
                </tr>
                <tr>
                  <td>1,002</td>
                  <td>classroom</td>
                  <td>192.168.31.222</td>
                  <td>10244</td>
                </tr>   
              </tbody>
            </table>
          </div>
{% endblock %}